{% use "bootstrap_4_layout.html.twig" %}

{% block picture_widget %} {# block qui affiche les images liées à la figure (si il y en a), ainsi que ses éléments #}
    {% set filename = form.filename.vars.data %}
    {% if filename|length %} {# Si il y a un filename #}
        <h4>{{ form.filename.vars.data }}</h4> {# alors on affiche les données liées au filename (le titre de l'image et l'image en question) #}
        <img src="{{ asset(web_uploads ~ '/' ~ form.filename.vars.data) }}" class="imgFormTheme"/>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form.alt) }}
    {{ form_row(form.file) }}
{%  endblock %}


{%- block collection_widget -%}
    {% if prototype is defined and not prototype.rendered %}
        {%  set child = prototype %}
        {%- set attr = attr|merge({'data-prototype': block('collection_widget_item') }) -%}
    {% endif %}
    {# form_widget(form) #}
    {# form_widget_compound(form) #}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        <div class="collection-elements">
            {{ block('collection_widget_rows') }} {# affiche les éléments liés aux images de la figure #}
        </div>
    </div>
    {{ block('collection_widget_js') }}
    <button id="{{ id }}_add" class="btn btn-outline-dark">Ajouter une image</button>
{%  endblock %}

{%- block collection_widget_rows -%}
    {# form_rows(form) #}
    {% for child in form|filter(child => not child.rendered) %}
        {{  block('collection_widget_item') }}
    {% endfor %}
{% endblock %}


{%- block collection_widget_item -%}
    {# form_row(child) #}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group collection-item')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {#- form_label(child) -#}
        {{- form_widget(child, widget_attr) -}}
        {{- form_help(child) -}}
        <button class='btn btn-danger btn-sm btn-delete-item'>Supprimer l'image</button>
    </{{ element|default('div') }}>
{% endblock %}


{%- block collection_widget_js -%}
    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $('#{{ id }}'); // On récupère l'id de la balise <div> qui contient l'attribut data-prototype
            var index = $container.find('.collection-item').length; // On définit un compteur pour nommer de manière unique les champs que l'on va ajouter dynamiquement

            $('#{{ id }}_add').on('click', function(e) { // On créée une fonction qui se déclenche à chaque fois que l'on clique sur un lien contenant l'id "_add"
                addPicture($container); // Nom de la fonction qui sera déclenchée
                e.preventDefault(); // Evite qu'un # apparaisse dans l'URL
                return false;
            });

            /**
             * Fonction qui ajoute un formulaire de type PictureType
             * @param $container
             */
            function addPicture($container) {
                var prototype = $container.attr('data-prototype') // On créée une variable qui récupère la balise contenant l'attibut data-prototype
                    .replace(/__name__/g, index); // Ainsi que le texte "__name__" qu'elle contient par le numéro du champ
                $container.find('.collection-elements').append(prototype); // On ajoute cet objet modifié à la fin de la balise qui contient la classe collection-elements
                index++; // On incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            }

            $('#{{ id }}').on('click', '.btn-delete-item', function(e) { // On ajoute un listener sur le bouton de suppression
                if(confirm("Voulez-vous vraiment supprimer cette image ?")) {
                    $(this).closest('.collection-item').remove(); // On supprime effectivement ce lien
                    return false;
                } else {
                    return false;
                }
            });

        });
    </script>
{% endblock %}


