{% extends 'base.html.twig' %}

{% block title %}Les figures{% endblock %}

{% block body %}

    <article>

        <h1>Les figures</h1>

        {% for trick in tricks %}

            <div class="card col-5">
                <h4><a href="{{ path('showTrick', {'id': trick.id}) }}">{{ trick.name }}</a></h4>
                <p>Catégorie : {{ trick.category.name }} <em>(Ajouté le {{ trick.createdAt | date('d/m/Y') }})</em></p>
                {% if trick.pictures is empty %}
                    <img src="/images/empty.jpg" alt="image">
                {% else %}
                    {% for picture in trick.pictures %}
                        {% if loop.index == 1 %}
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        {% endfor %}

        {{ knp_pagination_render(tricks) }}

    </article>

{% endblock %}
