{% extends 'base.html.twig' %}

{% block title %}Les figures{% endblock %}

{% block body %}

    <article>

        <h1>Les figures</h1>

        {% for trick in tricks %}

            <div class="card col-5">
                <h4>{{ trick.name }}</h4>
                <p>Catégorie : {{ trick.category.name }} <em>(Ajouté le {{ trick.createdAt | date('d/m/Y') }})</em></p>
                <p>{{ trick.description }}</p>
                <p><a href="{{ path('showTrick', {'id': trick.id}) }}">Voir le détail</a></p>
            </div>

        {% endfor %}

    </article>

{% endblock %}
