{% extends 'base.html.twig' %}

{% block title %}Les figures{% endblock %}

{% block body %}

    <div class="coverTrick">
        <div class="coverTrickTitle">
            <h1>{{ trick.name }}</h1>
        </div>
        {% if trick.pictures is empty %}
            <img src="/images/empty.jpg" alt="image">
        {% else %}
            {% for picture in trick.pictures %}
                {% if loop.index == 1 %}
                    <img src="/uploads/{{ picture.filename }}" alt="image">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 iconsImage1">
                            <a href="{{ path('editTrick', {id: trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                            <form action="{{ path('deleteTrick', {id: trick.id}) }}" method="post" style="display: inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer cette figure ?')">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}" />
                                <button class="btn btn-link"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success col-3">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <article class="container-fluid">

        <div class="trickPictures">
            <div class="row">
                {% for picture in trick.pictures %}
                    <div class="col-2 gridPictures mb-4">
                        <img src="/uploads/{{ picture.filename }}" alt="image" class="gridPicturesImg">
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-2 gridPictures mb-4">
                        <iframe src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="trickDescription">
            {{ trick.description | nl2br }}
        </div>

        <div class="trickInfos">
            <button type="button" class="btn btn-outline-info" disabled>Catégorie : {{ trick.category.name }}</button>
            <button type="button" class="btn btn-outline-info" disabled>Ajouté le {{ trick.createdAt | date('d/m/Y') }}</button>
                {% if(trick.updatedAt) is not null %}
            <button type="button" class="btn btn-outline-info" disabled>Modifié le {{ trick.updatedAt | date('d/m/Y') }}</button>
            {% endif %}
        </div>

        {% if(app.user) %}
            <div class="trickCommentsForm">
                {{ form_start(form)}}
                    {{ form_row(form.content, {'label': ' '}) }}
                    <button type="submit" class="btn btn-primary">Envoyer le commentaire</button>
                {{ form_end(form)}}
            </div>
        {% endif %}

        <div class="trickComments">
            <h4>Commentaires</h4>
            <br/>
            {% if trick.messages is empty %}
                <p>Il n'y a pas encore de commentaire associé à cette figure</p>
            {% else %}
                <div class="container col-6">
                    <div id="commentsDiv">

                    </div>
                    <br/>
                <button id="loadMoreMessages">Charger les messages</button>
                </div>
            {% endif %}
        </div>

        <p><a href="{{ path('home')}}">Retour à la page d'accueil...</a></p>

    </article>

{% endblock %}

{% block javascript_ready %}
    var $loadMoreMessagesLink = $("#loadMoreMessages");
    var $commentsDiv = $("#commentsDiv");

    $loadMoreMessagesLink.on("click", function(e) {
        var offset = 0;
        $.ajax({
            type: 'GET',
            url: "{{ path('loadMessages', {'id': trick.id }) }} ",
            success: function(messages) {
                $commentsDiv.append("OK");
            },
            error: function(error) {
                alert(dump(error));
            }
        })
    });
{% endblock %}


{#             url: "{{ path('loadMessages', {'id': trick.id, 'limit': 10, 'offset': '__OFFSET__' }) }}" . replace('__OFFSET__', offset)) }}", #}