{% extends 'base.html.twig' %}

{% block title %}Les figures{% endblock %}

{% block body %}

    <div class="container">

        <article>
            <h1>{{ trick.name }}</h1>
            <p>Catégorie : {{ trick.category.name }} <em>(Ajouté le {{ trick.createdAt | date('d/m/Y') }})</em></p>
            <p>{{ trick.description | nl2br }}</p>
                {% for picture in trick.pictures %}
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image">
                {% endfor %}
            <p><a href="{{ path('home')}}">Retour à la liste des figures...</a></p>
        </article>

        {% if(app.user) %}
            {% dump(app.user) %}
            {{ form_start(form)}}
            <div class="form-group">
                {{ form_row(form.content, {'label': ' '}) }}
                <button type="submit" class="btn btn-primary">Envoyer le commentaire</button>
            </div>
            {{ form_end(form)}}
        {% endif %}

        <article>
            <h4>Commentaires</h4>
            {% if trick.messages is empty %}
                <p>Il n'y a pas encore de commentaire associé à cette figure</p>
            {% else %}
                {% for message in trick.messages %}
                    <p>{{ message.content  }}</p>
                {% endfor %}
            {% endif %}
        </article>

    </div>

{% endblock %}

